*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.specstory
.cursorindexingignore
.DS_Store
/build
/captures
/temp_apk
.externalNativeBuild
.cxx
/release
/app/release
local.properties
.claude
tree-sitter-cpp-master
tree-sitter-master